.item {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
    border: 1px solid #624763;
    width: 220px;
    background-color: #F9B3D1;
    box-shadow: 5px 5px 15px 5px #AE7D9A;
    border-radius: 12px;
    padding: 15px;
    transition: scale 300ms, transform 300ms;
}

.item:hover {
    scale: 1.10;
    /* transform: rotate(3deg); */
}

.statusOnline {
    width: 25px;
    height: 25px;
    background-color: #61D582;
    border-radius: 50%;
    display: block;
}

.statusOffline {
    background-color: #B80C09;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.name {
    font-weight: 600;
}