.statistics {
  max-width: 480px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  background-color: rgb(210, 226, 231);
  justify-content: space-between;
  align-items: center;

  border: 1px solid rgb(143, 143, 175);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 5px 5px 15px 5px #7a6c9c;
  gap: 35px;
  transition: scale 300ms;
}

.statistics:hover {
  scale: 1.05;
}

.title {
  font-size: 32px;
  text-transform: uppercase;
}

.statList {
  list-style: none;
  display: flex;
  gap: 12px;
}

.item {
  border: 1px solid rgb(143, 143, 175);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 13px;

  width: 70px;
  height: 70px;
  transition: scale 300ms, transform 300ms;
}

.item:hover {
  scale: 1.1;
  /* transform: rotate(-5deg); */
}

.label {
  font-size: 22px;
  color: #120824;
}

.percentage {
  font-size: 28px;
  font-weight: 500;
  color: #120824;
}